<launch>
    <arg name="serial_no"             default=""/>
    <arg name="json_file_path"        default=""/>
    <arg name="camera"                default="camera"/>
    <arg name="filters"               default="decimation,disparity,spatial,temporal,disparity,hole_filling"/>
    <!-- <arg name="filters"               default="disparity,spatial,temporal,disparity,hole_filling"/> -->
    
    <arg name="depth_height"          default="360"/>
    <arg name="depth_width"           default="640"/>
    <arg name="depth_fps"             default="60"/>

    <arg name="decimation"            default="2"/>
    <arg name="hole_filling"          default="1"/>
    <arg name="temporal_smooth_alpha" default="0.8"/>

    <arg name="enable_infra1"         default="false"/>
    <arg name="enable_infra2"         default="false"/>
    <arg name="infra1_topic"          default="/camera/infra1/image_rect_raw"/>
    <arg name="infra2_topic"          default="/camera/infra2/image_rect_raw"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="serial_no"         value="$(arg serial_no)"/>
        <arg name="json_file_path"    value="$(arg json_file_path)"/>
        <arg name="depth_width"       value="$(arg depth_width)"/>
        <arg name="depth_height"      value="$(arg depth_height)"/>
        <arg name="depth_fps"         value="$(arg depth_fps)"/>
        <arg name="color_width"       value="640"/>
        <arg name="color_height"      value="480"/>
        <arg name="color_fps"         value="30"/>
        <arg name="enable_depth"      value="true"/>
        <arg name="enable_color"      value="false"/>
        <arg name="enable_infra1"     value="$(arg enable_infra1)"/>
        <arg name="enable_infra2"     value="$(arg enable_infra2)"/>
        <arg name="enable_fisheye"    value="false"/>
        <arg name="enable_gyro"       value="true"/>
        <arg name="enable_accel"      value="true"/>
        <arg name="enable_pointcloud" value="false"/>
        <arg name="enable_sync"       value="false"/>
        <arg name="tf_prefix"         value="$(arg camera)"/>
        <arg name="filters"           value="$(arg filters)"/>
        <arg name="unite_imu_method"  value="linear_interpolation"/>
    </include>
    
    <!-- Definition and parameters of filters can be found at https://dev.intelrealsense.com/docs/post-processing-filters -->
    
    <!-- see full param list by running `rosrun dynamic_reconfigure dynparam get /camera/decimation` -->
    <node name="configure_decimation" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters camera/decimation">
        <param name="filter_magnitude" value="$(arg decimation)" />
    </node>
    
    <!-- see full param list by running `rosrun dynamic_reconfigure dynparam get /camera/spatial` -->
    <node name="configure_spatial_filter" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters camera/spatial">
        <param name="filter_magnitude" value="2" />
        <param name="filter_smooth_delta" value="20" />
        <param name="holes_fill" value="0"/>
        <param name="filter_smooth_alpha" value="0.5"/>
    </node>

    <!-- see full param list by running `rosrun dynamic_reconfigure dynparam get /camera/temporal` -->
    <node name="configure_temporal_filter" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters camera/temporal">
        <param name="filter_smooth_delta" value="20" />
        <param name="holes_fill" value="3"/>
        <param name="filter_smooth_alpha" value="$(arg temporal_smooth_alpha)"/>
    </node>
    
    <!-- see full param list by running `rosrun dynamic_reconfigure dynparam get /camera/hole_filling` -->
    <node name="configure_hole_filling" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters camera/hole_filling">
        <!-- 0: fill_from_left, 1: farest_from_around, 2: nearest_from_around -->
        <param name="holes_fill" value="1" />
    </node>

    <!-- <node name="reverse_camera_node" pkg="accel_control" type="rev_camera.py" output="screen">
        <param name="~infra1_topic" value="$(arg infra1_topic)" />
        <param name="~infra2_topic" value="$(arg infra2_topic)" />
    </node> -->
</launch>
